<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="cardContentImg"> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div>
        <div class="iconBox">
          <ion-img class="logo" src="../../../assets/img/GrumpiApp.png" alt="Logo de la aplicación Grumpi."></ion-img>
        </div>
        <div class="cardContentImg">
         
          <h1> <strong> ¡BIENVENIDOS AL MUNDO DE LOS GRUMPIS! </strong> </h1>
        </div>
        <hr>
        <p> La gamificación es una metodología que intenta integrar aspectos vinculados al juego con la educación en
          el
          aula.
          El proyecto de gamificación que presentamos, actúa como elemento complementario al proceso de enseñanza
          aprendizaje, ya
          que pretende profundizar y reforzar en diversos aspectos que se han trabajado en el aula. Para ello, se
          proponen
          diversas tareas que podrán realizar de manera autónoma o en grupo, vinculadas a las áreas de conocimiento de
          lengua,
          matemáticas, ciencias sociales, ciencias de la naturaleza, inglés y plástica.
          En concreto, este proyecto está basado un sistema de criaturas inventadas, que guarda ciertas similitudes
          con
          Pokémon o
          Temtem. Es decir, un juego que consiste en capturar unas criaturas, superar unos retos e incluso llegar a
          ser
          el campeón
          superando unos retos aún mayores.
        </p>
        <p>
          Tanto para la captura como para superar las diversas pruebas, el alumnado tendrá que ir realizando tareas o
          actividades,
          las cuales podremos usar para reforzar o ampliar aquello que hayamos trabajado. Dentro de estas tareas se
          incluye,
          también, la lectura de diversos libros, para así poder incluir esta actividad en nuestro plan lector.
          Siempre,
          claro
          está, dándole como recompensa al Grumpi conseguido en miniatura, la medalla que simbolice el reto superado o
          incluso la
          copa del vencedor, los cuales irán completando en su ficha de entrenador/a, y así ellos puedan controlar su
          progreso y
          el de sus compañeros.
        </p>
        <p>
          Vinculado a todo esto, encontramos los encargados de clase, los cuales persiguen dotar de autonomía y de
          responsabilidad
          al alumnado, teniendo como objetivo vigilar la realización de las tareas, el silencio en el aula, que anoten
          la tarea en
          la agenda… entre otras. Estos encargados, como no podía ser menos, también están relacionados con el mundo
          ficticio que
          presentamos, encontrando así al Team Star, a los profesores, a los entrenadores, los enfermeros y a la
          policía
          Grumpi.
        </p>
        <p>
          Además, para progresar en el juego, para evolucionar, para combatir con nuestros Grumpis, necesitaremos
          energía, la cual
          servirá como moneda de cambio para dichos cometidos, o para aquellos que no estén tan interesados en el
          juego
          planteado,
          podrán canjearla por otras recompensas, tales como tiempo de juego, subir la nota, no copiar enunciados…
          Esta
          energía
          estará vinculada a los diferentes tipos de Grumpi existentes. Se conseguirá semanalmente al trabajar
          adecuadamente
          durante toda la semana, atender en clase, realizar sus tareas, etc.

          Finalmente, se pretende ampliar con un semáforo para el comportamiento y una tabla para registrar el plan
          lector.
        </p>
        <p>

          Como verán, es un proyecto muy ambicioso, que tras llevarlo a cabo el curso pasado y estar aplicándolo este
          con una
          temática similar, motiva mucho al alumnado y les hace querer participar desde el primer día. Además, al
          recibir
          recompensas físicas como miniaturas Grumpi, energía, medallas, etc. les despierta su afán coleccionador e
          intentar
          conseguir el máximo número posible, del mismo modo, que al querer competir con sus compañeros por ser el
          primero que
          logre superar los retos, les hace implicarse más aún en la consecución de estos.
        </p>
        <p>
          Finalmente, indicar que el proyecto se está llevando a cabo en los cursos de 5º y 6º, ya que está planteado
          para
          trabajarlo durante dos cursos. Sin embargo, se podría reducir a un solo curso eliminando el límite de retos
          a
          realizar a
          la semana. Del mismo modo, se podría adaptar a los cursos deseados.
        </p>
        <hr>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-button shape="round" color="success" (click)="goMoreInfoPage()">
      Instrucciones
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-button>
  </ion-fab>

</ion-content>