<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/about/more-info" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title> MEDALLAS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title> CÓMO OBTENER LAS MEDALLAS GRUMPI </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>
      Las criaturas se conseguirán realizando diversas tareas de las áreas de Lengua, Matemáticas,
      Ciencias de
      la Naturaleza,
      Ciencias Sociales, Inglés y Plástica. No obstante, se pueden incluir áreas nuevas si se considera
      necesario.

      La forma de conseguir cada criatura vendrá indicada en la tarjeta de cada una de ellas, incluyendo,
      entre otras,
      trabajos de investigación, realización de ejercicios de refuerzo o ampliación, realización de
      trabajos
      originales,
      lectura de libros, entre otros…

      Por otro lado, habrá una serie de criaturas especiales, más poderosos y raros que los anteriores,
      que
      solo se podrán
      lograr una vez conseguida la Copa Grumpi. Estos se conseguirán de la misma forma que los anteriores.

    </p>
  </ion-card-content>
</ion-card>
</ion-content>
