<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="fixText"> Tienda Grumpi </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="money-card">
    <label>Energías totales</label>
  </div>

  <div class="mainBox">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="fixText">Piedras</ion-label>
          <ion-card>
            <ion-card-content></ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-label class="fixText">Energías</ion-label>
          <ion-card>
            <ion-card-content></ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="fixText">Varios</ion-label>
          <ion-card>
            <ion-card-content></ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>